* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   font-family: 'Bodoni Moda', serif;
}



nav{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 5px;

}

.shop-logo{
    width: 35px;
    height: 35px;
}

body {
   font-family: 'Bodoni Moda', serif;
}

.logo{
    display: flex;
}

.shop-eleven-text{
    padding-top: 4px;
    padding-left: 5px;
    font-family: 'Great Vibes', cursive;
    font-size: 22px;
}

.logo{
    margin-left: 38px;
}

.single-cart-image{
    border-style: solid;
    border-radius: 50%;
    border-width: 0.5px;
    padding: 5px;
    
    margin-top: -11px;
}



.right-nav-items{
    display: flex;
    gap: 30px;
    list-style: none;

}

.right-nav-items a{
    text-decoration: none;
    color: black;
}

.single-product-nav{
    display: flex;
}

.single-cart-image img{
    width: 25px;
    height: 20px;
    margin-top: 5px;
    margin-left: 1.5px;
    padding-left: 3px;
    padding-right: 3px;
}

.single-cart-image {
    height: 40px;
    width: 40px;
    margin-top: -10px;
}

.menu-image-single img{
    width: 35px;
    height: 25px;
}

.container-search{
    display: flex;
    gap: 10px;
     padding-left: 50px;
}

.search-under-nav{
    display: flex;
    gap: 38px;
    padding-top: 10px;
}

.men-women-children{
    display: flex;
    gap: 10px;
}

.men ,.women ,.children ,.Brands{
    border-style: solid;
    border-color: rgb(230, 230, 230);
    border-width: 1.5px;
    border-radius: 20px;
    font-size: 16px;
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
}
        


.categories-search-box{
    border-style: none;
    margin-top: 2px;
}

.product-search-box{
    margin-top: 2px;
}

.categories-form h3{
    margin-top: -5px;
    padding-left: 7px;
}


.categories-form{
    display: flex;
    border-style: groove;
    border-width: 0.05px;
    border-color: rgb(244, 244, 244);
    padding-left: 10px;
    padding-right: 10px;
    background-color: #f9f9f9;
    border-radius: 25px;
    width: 290px;
    justify-content: space-between;

}

.new-product-form{
    display: flex;
    border-style: groove;
    border-width: 0.05px;
    border-color: rgb(244, 244, 244);
    padding-left: 10px;
    padding-right: 10px;
    background-color: #f9f9f9;
    border-radius: 25px;
    width: 270px;
    justify-content: space-between;
}

.new-product-form h3{
     
    margin-top: -6px;
     border-radius: 50%;
     margin-left: 7px;
}

.first-arrow-background{
    background-color: white;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    margin-top: 8px;
}

.second-arrow-background{
    background-color: white;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    margin-top: 8px;
}

.search-icon-container{
    background-color: white;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    margin-top: 7px;
    
}
.search-form{
    display: flex;
    border-style: groove;
    border-width: 0.05px;
    border-color: rgba(255, 77, 141, 0.4);
    padding-left: 10px;
    padding-right: 10px;
    background-color: #f9f9f9;
    border-radius: 25px;
    width: 380px;
    justify-content: space-between;
}

.product-search-box,
.third-search-box,.categories-search-box {
    border: none;
    outline: none;
    box-shadow: none;
    background-color:  rgba(244, 244, 244, 0);
    font-weight: 500;
    
}



.search-form img{
    width: 15px;
    height: 15px;
    margin-top: 6px;
    margin-left: 6px;
    background-color: white;
    border-radius: 20px;
}

.product-two-column-section{
     padding-left: 50px;
    padding-right: 50px;
      gap: 50px;
}

.single-product-details h1{
    font-size: 35px;
    padding-top: 10px;
    font-weight: 900;
}

.product-price{
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 23px;
    font-weight: 900;

}

.product-two-column-wrapper {
    display: flex;
    gap: 50px;
    padding-top: 30px;
}

.back-arrow {
    padding-top: 30px;
    padding-left: 50px;
}

.back-arrow span{
    color: #8B5E3C;
}


.image-left{
    border-style: solid;
    border-color: rgb(230, 230, 230);
    border-width: 1.5px;
    border-radius: 15px;
    overflow: hidden;
    
}

.image-left img{
    width: 700px;
    height: auto; 
    padding-right: 30px;
  
}

.men-delivery-block h3{
    border-style: solid;
    border-color: rgb(230, 230, 230);
    border-width: 1.5px;
    border-radius: 20px;
    width: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
    font-weight: 500;
}

.image-of-reviewer img{
    height: 50px;
    width: 50px;
   
}

.single-product-detail{
    width: 1000px;
}

.Rating-comment-two-columns{
    display: flex;
    justify-content: space-between;
}

.color-options{
    display: flex;
    gap: 10px;
    padding-top: 10px;
    
}

.select-color-section{
    padding-top: 10px;
    padding-bottom: 20px;
}

.select-color-section h3{
    font-size: 13px;
    padding-top:6px ;
    
}

.color-text{
    color: grey;
}

.color-options span{
   background-color: #FF4D8D;
   color: white;
   padding: 15px;
   border-radius: 25px;
   padding-left: 45px;
   padding-right: 45px;
}
.logo-footer img{
    width: 50px;
    height: 50px;
    padding-top: 5px;
    padding-bottom: 10px;
    display: flex;
    justify-content: left;
    align-items: left;
    margin-left: -15px;
}
.logo-footer{
    display: flex;
    justify-content: left;
    align-items: left;
}

.footer-section{
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
}

.footer-tagline{
    font-size: 14px;
    color: grey;
    padding-bottom: 10px;

}

.social-icons img{
    width: 15px;
    height: 15px;
}

.mail h1{
    font-size: 14px;
    color: grey;
}

.footer-column-b{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer-column-b span{
    font-size: 14px;
}

.footer-column-c span{
    font-size: 14px;
}

.footer-column-c{
    display: flex;
    flex-direction: column;
}

.subscribe{
    border-color: lightgray;
    border-width: 0.5px;
    border-style: solid;
    padding: 3px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;

}

.subscribe input{
    border: none;
    outline: none;
}

.subscribe input::placeholder{
    padding-left: 8px;
}

.subscribe button{
    background-color: black;
    color: white;
    padding: 8px;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 10px;
}

.footer-column-d p{
    display: flex;
    align-items: end;
    justify-content: end;
}

.shop-text{
  font-family: 'Great Vibes', cursive;
  font-size: 20px;
  margin-top: 9px;
  padding-bottom: 10px;
}

.logo-footer img{
    width: 50px;
    height: 50px;
    padding-top: 5px;
    padding-bottom: 10px;
    display: flex;
    justify-content: left;
    align-items: left;
    margin-left: -15px;

}

.might-like-images{
    display: flex;
    justify-content: space-between;
}

.might-like-images img{
    height: 85px;
    width: 85px;
}

.rating-number-block{
    display: flex;
    gap: 30px;
}

.review{
    display: flex;
    justify-content: space-between;
    padding-bottom: 7px;
}

.review h3{
    font-size: 14px;
    color: #595959;
    padding-bottom: 7px;
}

.review-block{
    
    border-style: solid;
    border-color: rgb(230, 230, 230);
    border-width: 1.5px;
    border-radius: 25px;
    padding: 15px;
    margin-bottom: 150px;
    width: 700px;
}

.review-block span{
    font-size: 15px;
    font-weight: 900;
}

.rating-flex{
    display: flex;

}

.shipping-and-delivery-details{
    border-style: groove;
    border-width: 0.05px;
    border-color: rgb(200, 200, 200);
    width: 500px;
   
   
}

.discount-and-package-flexbox{
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
}

.discount-and-package-flexbox img{
    height: 20px;
    width: 18px;
   
}

.discount-text h3, 
.delivery-text h3 , 
.estimation-text h3 , 
.package-text h3{
    font-size: 11px;
    color: #939393;
    padding-bottom: 5px;
}

.discount-text h4, 
.delivery-text h4 , 
.estimation-text h4 , 
.package-text h4{
    font-size: 14px
}

.discount-text , 
.delivery-text , 
.estimation-text , 
.package-text{
    margin-top: 5px;
}

.delivery-and-estimation-flexbox img{
     height: 20px;
     width: 18px;
     color: rgb(241, 241, 241);
}

.delivery-text{
    margin-top: 5px;
}

.discount-image{
     background-color:rgb(248, 248, 248);
     width: 50px;
     height: 50px;
     border-radius: 50%;
}

.discount-image img{
    margin-left: 16px;
    margin-top: 15px;
}

.package-image{
       background-color: rgb(248, 248, 248);
        width: 50px;
        height: 50px;
     border-radius: 50%;
}

.package-image img{
     margin-left: 16px;
    margin-top: 15px;
}

.delivery-image {
     background-color: rgb(248, 248, 248);
      width: 50px;
      height: 50px;
     border-radius: 50%;
}

.delivery-image img {
    margin-left: 16px;
    margin-top: 15px;
}

.estimation-image{
    background-color: rgb(248, 248, 248);
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.estimation-image img{
     margin-left: 16px;
    margin-top: 15px;
}

.Shipping-and-arrow h1{
    font-size: 18px;
}

.Shipping-and-arrow{
    display: flex;
    justify-content: space-between;
    padding-bottom:10px ;
}

.Shipping-and-arrow img{
    width: 18px;
    height: 18px;
    margin-top: 13px;
}

.section-rating{
    padding-top: 40px;
    flex: 0 0 100%;     /* ← ADD THIS LINE */
    padding-left: 50px;
    padding-right: 50px;

}
.You-might-also-like{
    padding-left: 50px;
    padding-right: 50px;
   

}

.You-might-also-like h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
    font-size: 60px;
     padding-bottom: 55px;

}





.discount-block{
    display: flex;
    gap: 5px;
}

.package-block{
    display: flex;
      gap: 5px;
    margin-right: 18px;
}

.Estimation-block{
    display: flex;
      gap: 5px;
}

.delivery-and-estimation-flexbox{
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 25px;

}





.Description-and-Fit{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.Description-and-Fit img{
    width: 18px;
    height: 18px;
    margin-top: 13px;
}

.caution img{
    width: 18px;
    height: 18px;
    margin-top: 5px ;
   
}

.caution {
    border-style: solid;
    border-color: rgb(230, 230, 230);
    border-width: 1.5px;
    border-radius: 20px;
    padding-left: 6px;
    

}

.caution span{
   position: relative;
    top: -4px;
    font-size: 12px;
} 

.Addtocart{
    display: flex;
   justify-content: space-between;
    padding-top: 20px;

}

.Addtocart span{
    border-style: solid;
    border-color: rgb(230, 230, 230);
    border-width: 1.5px;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -3px;
}

.addtocart-button{
    background-color: black;
    color: white;
    width: 620px;
    padding: 15px;
    display: flex;
    justify-items: center;
    padding-left: 200px;
    padding-right: 200px;
    border-radius: 25px;
}

.addtocart-button h3{
    margin-top: -5px;
    margin-left: 64px;
}

.description-section{
    border-style: solid;
    border-color: rgb(230, 230, 230);
    border-width: 1.5px;
    border-radius: 25px;
    padding: 15px;
    max-width: 700px;
    line-height: 1.8;
   
}

.Description-and-Fit h1{
    font-size: 18px;
    font-weight: bold;
   
}

.description-section p{
    font-size: 15px;
    font-weight: lighter;
    color: grey;
}

.delivery-time-block{
    display: flex;
    gap: 10px;
}

.Estimation-block{
    display: flex;
}

.shipping-and-delivery-details{
    margin-top: 10px;
    border-style: solid;
    border-color: rgb(230, 230, 230);
    border-width: 1.5px;
    border-radius: 25px;
    padding: 15px;
    width: 700px;

}

.fill {
    background-color: black;
    height: 7px;
    border-radius: 10px;
}

.fill-container{
    background-color: rgb(222, 221, 221);
    width: 300px;
    border-radius: 20px;

}

.ratings-bar{
    display: flex;
    gap: 10px;
    align-items: center;
    width: 200px;
    height: 8px;
    border-radius: 5px;
    
}

.rating-flex h1 {
    font-size: 200px;
    font-weight: 900;
     margin-top: -50px;
}

.rating-flex h4 {
    margin-top: 150px;
    color: grey;
}

.rating-widgets{
   display: flex;
   flex-direction: column;
   gap: 30px;
   margin-top: 20px;
   padding-left: 20px;
}

.Rating-comment-two-columns{
    padding-top: 20px;
}

.star-conatiner{
    width: 60px;
}

.number-block h3{
    color: #939393;
    margin-top: -65px;
    font-size: 14px;
    
}

.date-flex{
    display: flex;
    justify-content: space-between;
    padding-bottom: 7px;
}

.date-flex h3{
    color: #595959;
    font-size: 12px;
    font-weight: 900;
}

.review img{
    width: 35px;
    height: 35px;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
     border-style: solid;
    border-color: rgb(230, 230, 230);
    border-width: 1.5px;

}

.image{
    display: flex;
    flex-direction: column;


}

.image img{
    width: 300px;
    height: 300px;
    border-style: solid;
    border-color: rgb(230, 230, 230);
    border-width: 1.5px;
    border-radius: 25px;
}

.categoryAndShopcont{
    display: flex;
    gap: 30px;
    margin-left: 50px;
}

.category-column{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    gap: 10px;
}

.product-container img{
    height: 280px;
    width: 290px;
}

.product-container{
    border-style: solid;
    border-color: #8B5E3C;
    border-width: 2.5px;
    border-radius: 25px;
    overflow: hidden;
    padding: 20px;
}


.product-container h1{
    font-size: 23px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-top: 10px;
   
}

.pricexcart{
    display: flex;
    justify-content: space-between;
    padding: 10px;
   

}

.pricexcart img{
    width: 30px;
    height: 30px;
}

.Pricebutton-container{
    background-color: deeppink;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 6px;
    margin-bottom: 5px;
}

.image-container{
     border-style: solid;
    border-color: rgb(230, 230, 230);
    border-width: 1.5px;
    border-radius: 25px;
    overflow: hidden;
}

.cart-cont img{
    border-style: solid;
    border-color: black;
    border-width: 0.5px;
    border-radius: 50%;
    padding: 10px;
    height: 50px;
    width: 50px;
}

a{
    text-decoration: none;
    color:inherit;
}

.shop-list-column{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 80px;
}
